{"filter":false,"title":"action_custom_msg.launch","tooltip":"/exercise_414/launch/action_custom_msg.launch","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":2,"column":9},"action":"insert","lines":["<launch>","    <node pkg=\"exercise_414\" type=\"action_custom_msg.py\" name=\"action_custom_msg\" output=\"screen\" />","</launch>"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":9},"end":{"row":2,"column":9},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1538579530744,"hash":"934991c1177d8f5430ed831ce0d2f2bcd1dac303"}