{"filter":false,"title":"move_drone.launch","tooltip":"/exercise_46/launch/move_drone.launch","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1538477712000,"hash":"ffa09201cf3ec9ba297c5c27f9676879d7dabc5a"}