{"filter":false,"title":"publish_age.launch","tooltip":"/mini_project/launch/publish_age.launch","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1537772298000,"hash":"9e82ee1bca17034da275d057e4588cec58c73f78"}